$HdColor: #171d1c;
$TxtColor: #7e9a96;
$TxtHoverColor: #435653;
$LnColor: #22a7f0;
$IcnColor: #5fbff9;
//$BtnColor: #e74c3c;
$BtnColor: #22a7f0;
.container {
  .row {
    & > .col-lg-12 {
      &:first-of-type {
        h1 {
          color: $HdColor;
        }
        p {
          color: $TxtColor;
        }
      }
      &:last-of-type {
        form {
          & > .form-row {
            justify-content: center;
            .col {
              padding: 0;
            }
            select {
              border-radius: 2rem;
              option {
                color: $TxtHoverColor;
              }
            }
          }
          & > .form-group {
            justify-content: center;
            button {
              background-color: $BtnColor !important;
              color: #fffbfa;
              border-radius: 2rem;
              border: none;
            }
          }
        }
      }
    }
  }
}
