@import '../mainDesigns/Variables.scss' , '../mainDesigns/Placeholder.scss';

.appointmentz {
  color:$base3_color;
  .row {
    & > .col-lg-12 {
      &:last-of-type {
        form {
          & > .form-row {
            justify-content: center;
            .col {
              padding: 0;
            }
            select {
              border-radius: 2rem;
            }
          }
          & > .form-group {
            justify-content: center;
            button {
              background-color: $main_color;
              color:$base2_color;
              border-radius: 2rem;
              border: none;
            }
          }
        }
      }
    }
  }
}
