@import '../mainDesigns/Variables.scss' , '../mainDesigns/Placeholder.scss';
.SignIn{
  color: $base3_color;
  .deActive {
    background-color: transparent !important;
  }
  .onActive {
    //background-color: green!important;
    /*& ~ *{ background-color: transparent!important;  }*/
    & > * {
      color: green !important;
    }
  }
  button {
    background-color: $main_color !important;
    border: none;
  }
  input[type="radio"] {
    opacity: 0;
  }
  .Link{
    color: $main_color !important;
    &:hover{
      color: $base3_color !important;
    }
  }
  
}
