@import './../../../mainDesigns/Variables.scss' , './../../../mainDesigns/Placeholder.scss';
.locationsec{
  h2{
    &::after{
      @extend %h2_lineAfter;
    }
  }
  h3{
    &::after{
      @extend %p_lineAfter;
      margin-top: 15px;
    }
  }
  .MuiMobileStepper-root{
    background-color: $base2_color !important;
  }
  ul{
    line-height: 1.9;
  }

  .cardb {
    background-color: $base_color;
    .MapMarker {
      color: $main_color;
      font-size: 1.5rem;
    }
    .branch-name {
      color: $main_color;
    }
    .buttonb {
      background-color: $main_color;
      border: none;
      &:hover{
        background-color: $main_color;
      }
    }
  }
}

