@import '../mainDesigns/Placeholder.scss' , '../mainDesigns/Variables.scss';

.IconBreadcrumbs{
    background-color: $main_color;
    .MuiTypography-colorTextPrimary , .MuiTypography-colorInherit{
        color: $base_color !important;
    }
    .MuiTypography-colorTextSecondary{
        color: $base_color !important;
    }
}
