.IconBreadcrumbs{
    background-color: #22A7F0;
    .MuiTypography-colorTextPrimary , .MuiTypography-colorInherit{
        color: #FFFBFA !important;
    }
    .MuiTypography-colorTextSecondary{
        color: #EFE9F4 !important;
    }
}
