@import "../mainDesigns/Variables.scss", "../mainDesigns/Placeholder.scss";
.Insurancesec {
  color: $base3_color;
  h3 {
    &::after {
      @extend %h2_lineAfter;
      margin: 20px auto 30px;
    }
  }
//   &__header {
//   }
  &__card {
    .logo {
      background-color: $main2_color !important;
    }
  }
  &__Faq{
    .Accordion{
        background-color: $base2_color !important;
        .MuiIconButton-root ,.MuiButtonBase-root ,.MuiAccordionSummary-root ,.Mui-expanded{
          color: $main_color;
        }
        .MuiButtonBase-root ,.MuiAccordionSummary-root ,.Mui-expanded{
            &:hover{
                background-color: $main2_color;
                color: $base2_color !important;
                .MuiIconButton-root {
                    color: $base2_color !important;
                }
            }
        }
        .desc{
          font-size: 14px;
        }
    }

  }
}
