@import "../mainDesigns/Placeholder.scss", "../mainDesigns/Variables.scss";
.MedicalTests {
  color: $base3_color;
  &__header {
    background-size: cover;
    h2 {
      color: $base2_color;
      background-color: rgba(23, 29, 28, 0.8);
      @media screen and (max-width: 425px) {
        font-size: 1rem;
      }
    }
  }
  &__Tabs {
    .makeStyles-root-3 {
      width: 100% !important;
    }
    .MuiTab-textColorPrimary.Mui-selected,
    .MedicalTests__Tabs .MuiTab-textColorPrimary {
      color: $main_color !important;
    }

    .MedicalTests__Tabs span , .PrivateTabIndicator-root-35 ,.PrivateTabIndicator-colorPrimary-36 ,.MuiTabs-indicator {
      background-color: $main_color !important;
    }

    .MuiTab-textColorPrimary {
      color: $base3_color !important;
    }
  }
  &__card {
    &__header {
      p {
        &::after {
          @extend %p_lineAfter;
          margin: 5px auto 10px;
        }
      }
    }
    &__item {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      background-color: $base2_color;
      &:hover {
        h5 {
          color: $main_color;
        }
      }
      border-radius: 15px;
      img {
        border-radius: 15px 15px 0px 0px;
      }
      &__desc {
        p {
          font-size: 15px;
        }
        h5{
            text-transform: uppercase;
        }
      }
    }
  }
  &__benifites {
    &__desc {
      .ben {
        &::after {
          @extend %p_lineAfter;
        }
      }

      .Link {
        color: $base2_color !important;
        background-color: $main2_color !important;
        &:hover {
          background-color: $main_color !important;
        }
      }
    }
  }
}
