@import '../mainDesigns/Placeholder.scss', '../mainDesigns/Variables.scss';
.MedicalTests{
    color: $base3_color;
    &__header{
        background-size: cover;
        h2{
            color: $base2_color;
            background-color: rgba(23, 29, 28, 0.8);
            @media screen and (max-width:425px){
                font-size: 1rem;
            }
        }
    }
    &__Tabs{
        .makeStyles-root-3{
            width: 100% !important;
        }
        .MuiTab-textColorPrimary.Mui-selected ,.MedicalTests__Tabs .MuiTab-textColorPrimary {
            color:$main_color !important;
        }

        .PrivateTabIndicator-colorPrimary-5 , .PrivateTabIndicator-colorPrimary-4{
            background-color: $main_color !important;
        }
        .MuiTab-textColorPrimary{
            color:$base3_color !important;
        }
    }
   &__benifites{
    &__desc{
        .ben{
            &::after{
                @extend %p_lineAfter;
            }
        }

        .Link{
            color: $base2_color !important;
            background-color: $main2_color !important;
            &:hover{
                background-color: $main_color !important;
            }
        }
    }
      
   }
    
}
