@import "../mainDesigns/Variables.scss";
img {
  width: 230px;
}
.link {
  color: $base3_color !important;
  font-weight: 500;
}
.link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: $main2_color !important;
}
.navbar-light .navbar-nav .nav-link {
  color: $base3_color !important;
}
.book__appointment {
  border-color: $main2_color !important;
  color: $base3_color !important;
}
.book__appointment:hover{
    background-color: $main2_color!important;
    .link {

      color: $base2_color !important;
    }
}

.drop-item:active,
.drop-item:hover {
  background-color: $base2_color !important;
}

.profile__SignIn , .profile__Signout   {
  background-color: $main2_color !important;
  border: none !important;
  font-weight: 500;
  &:hover{
    background-color: $main_color !important;
  }
}
.profile__Signout{
  color: $base2_color !important;
}
