@import './mainDesigns/Variables.scss','./mainDesigns/Placeholder.scss';
body {
  font-family: "Lato", sans-serif !important;
  font-family: "Nunito Sans", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  h1 {
    font-size: 5.5rem;
    color: $base3_color;
  }
  h2 {
    font-size: 1.98rem;
  }
  p{
    font-size: 16px;
  }
  h3{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.25rem;
  }
  h1 , h2 , h3 , h4 , h5 , h6{
    font-family: "Nunito Sans";
    font-weight: 700;
  }
}
