body {
  font-family: "Lato", sans-serif !important;
  font-family: "Nunito Sans", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  h1 {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 62px;
    color: #171d1c;
  }
  h2 {
    font-family: "Nunito Sans";
    font-weight: 700;
    // font-size: 2rem;
  }
}
